# dependencies
node_modules

# next
.next
out

# env
.env
.env.*
.env.local

# prisma
prisma/*.db

# logs
logs
*.log

# os
.DS_Store

# build artifacts
tsconfig.tsbuildinfo

# uploads / temp
public/uploads/
backups/
